

/* La déviation de parent de slider et image */

.parentQuote {
    margin: 44px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 229, 229);
    padding: 33px;
    border: 4px solid black;
}



@media only screen and (max-width: 1280px) and (min-width: 200px) {
    .parentQuote{
        
        flex-direction: column;
    }

}