

.commandeServices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commandeServices a{
    width: 444px;
    height: 150px;
    border: 1px solid black;
    border-radius: 11px;
    padding: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 33px 11px;
}

.commandeServices a:hover{
    background-color: rgb(248, 242, 242);
}

.commandeServices a div h3:hover{
    color: red;
}

.commandeServices a img{
   width: 90px;
}