{% extends "base.html.twig" %}

{% block body %}
    
    <h1 class='text-center'>Ajouter nouvelle Accessoire</h1>
    <div class="formContact">
         {{form(formAccessoire)}}
     </div>
{% endblock %}