{% extends "base.html.twig" %}

{% block body %}
    <h1 class='text-center'>Modéfication de l'accessoire</h1>
    <div class='formContact'>
         {{form(formAccessoires)}}
    </div>
{% endblock %}